name: Sync Upstream

on:
  # push:
  #   paths:
  #     - '.github/workflows/sync-upstream.yml'
  #     - 'content/projects/**'
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - uses: actions/checkout@v4

      - id: set-matrix
        name: Set matrix
        run: |
          matrix=$(find content/projects -name "*.yml" -exec yq -o=json '. | {"name": .name, "owner": .upstream.owner, "repo": .upstream.repo, "branch": .upstream.branch}' {} \; | jq -s | jq '{include: .}' -c)
          echo "matrix=$matrix" >> $GITHUB_OUTPUT

  sync:
    needs: prepare
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{fromJson(needs.prepare.outputs.matrix)}}
      fail-fast: false
      max-parallel: 5

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.SYNC_TOKEN }}
          repository: zhcndoc/${{ matrix.name }}

      - name: Sync ${{ matrix.name }}
        run: |
          git remote add upstream https://github.com/${{ matrix.owner }}/${{ matrix.repo }}.git
          git fetch upstream ${{ matrix.branch }}
          git checkout -B upstream
          git reset --hard upstream/${{ matrix.branch }}
          git push origin upstream --force
